<%- include('header.ejs') %>
<%- include('navbar.ejs') %>

<link rel="stylesheet" href="/stylesheets/banner.css">

<div class="about_us_container">
    <div class="background"></div>
    <div class="aboutdiv text_div">
        <h1>About us</h>
    </div>
     <div class="aboutdiv img_div"> 
        <img src="/images/banner.jpg" alt="">
     </div>
</div>

<%- include('why_choose_us.ejs') %>

<%- include('our_team.ejs') %> 

<%- include('footer.ejs') %>